<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a routerLink='/flight_search_result'>Flight Search Result</a>
            </li>
            <li class="active">
                Flight Booking
            </li>
        </ul>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 aside-stick">
            <div class="booking-item-payment">
                <header class="clearfix">
                    <h5 class="mb0">Flight Itinerary</h5>
                </header>
                <ul class="booking-item-payment-details">
                    <li *ngFor="let o of originDestinationOptions; let l = index">
                        <header class="clearfix" *ngIf="o.flightSegments[1] == null">
                            <h5 class="mb0">{{formatFlightLocation(o.flightSegments[0].departureAirportName)}} -
                                {{formatFlightLocation(o.flightSegments[0].arrivalAirportName)}}</h5>
                        </header>
                        <header class="clearfix" *ngIf="o.flightSegments[2] == null && o.flightSegments[1] != null">
                            <h5 class="mb0">{{formatFlightLocation(o.flightSegments[0].departureAirportName)}} -
                                {{formatFlightLocation(o.flightSegments[1].arrivalAirportName)}}</h5>
                        </header>
                        <header class="clearfix" *ngIf="o.flightSegments[2] != null">
                            <h5 class="mb0">{{formatFlightLocation(o.flightSegments[0].departureAirportName)}} -
                                {{formatFlightLocation(o.flightSegments[2].arrivalAirportName)}}</h5>
                        </header>
                        <div class="booking-item-payment-flight" *ngFor="let i of o.flightSegments; let m = index">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="booking-item-flight-details">
                                        <div class="booking-item-departure">
                                            <i class="fa fa-plane"></i>
                                            <h5>{{formatTime2(i.departureTime)}}hrs</h5>
                                            <p class="booking-item-date">{{formatDate2(i.departureTime)}}</p>
                                            <p class="f11 booking-item-destination"> {{i.departureAirportName}}
                                                ({{i.departureAirportCode}})</p>
                                        </div>
                                        <div class="booking-item-arrival">
                                            <i class="fa fa-plane fa-flip-vertical"></i>
                                            <h5>{{formatTime2(i.arrivalTime)}}hrs</h5>
                                            <p class="booking-item-date">{{formatDate2(i.arrivalTime)}}</p>
                                            <p class="f11 booking-item-destination">{{i.arrivalAirportName}}
                                                ({{i.arrivalAirportCode}})</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="booking-item-flight-duration">
                                        <p>Duration</p>
                                        <h6>{{formatDuration(i.departureTime, i.arrivalTime)}}</h6>
                                    </div>
                                </div>
                            </div>
                            <h5 *ngIf="o.flightSegments[m + 1] != null" class="flights__stopover text-center">
                                {{calculateLayoverTime(i.arrivalTime, o.flightSegments[m + 1].departureTime)}} stopover
                                <span class="flights__separator"></span> ({{i.arrivalAirportCode}}) </h5>
                        </div>
                    </li>
                    <li>
                        <ul class="booking-item-payment-price">

                        </ul>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <span class="col-md-6 booking-item-payment-total">Total Amount:</span>
                        <span
                            class="col-md-6 total-payable-amount">&#8358;{{formatCurrency(pricedItinerary.totalFare) | number}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
            </div>
            <h3>Flight Booking</h3>
            <!-- <p *ngIf="!login">To book faster,
                <a class="popup-text" href="#" data-toggle="modal" (click)="openSearchModal(template)">sign in to
                    your NaijaTravelShop Account</a>.</p> -->
            <form class="boxed-form" (ngSubmit)="buyTicket()" ngNativeValidate>
                <header>Customer Account</header>
                <div class="boxed-form-contents">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Title<span style="color: red">*</span></label>
                                <select class="form-control" name="title" [(ngModel)]="contactDetail.title" required>
                                    <option value="4">Mr</option>
                                    <option value="3">Mrs</option>
                                    <option value="1">Miss</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>First name<span style="color: red">*</span></label>
                                <input [(ngModel)]="contactDetail.firstName" type="text" name="firstName"
                                    class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Last name<span style="color: red">*</span></label>
                                <input [(ngModel)]="contactDetail.lastName" type="text" name="lastName"
                                    class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date of birth<span style="color: red">*</span></label>
                                <input type="text" class="form-control" [(ngModel)]="contactDetail.dateOfBirth"
                                    name="birthday" [maxDate]="maxAdultBday" autocomplete="off"
                                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange' , showWeekNumbers:false}"
                                    required bsDatepicker>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Email<span style="color: red">*</span></label>
                                <input [(ngModel)]="contactDetail.email" type="email" name="email" class="form-control"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Phone number<span style="color: red">*</span></label>
                                <input [(ngModel)]="contactPhoneNumber" type="tel" name="phoneNumber"
                                    class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Address<span style="color: red">*</span></label>
                                <textarea name="address" [(ngModel)]="contactDetail.address" rows="4" cols="50"
                                    class="form-control" minlength="10" required> </textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>City<span style="color: red">*</span></label>
                                <input [(ngModel)]="contactDetail.city" type="text" name="city" class="form-control"
                                    required />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Country<span style="color: red">*</span></label>
                                <select class="form-control" name="countryName" [(ngModel)]="contactDetail.countryName"
                                    required>
                                    <option *ngFor="let c of countries">{{c.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label *ngIf="!login">
                            <input class="i-check" name="shouldRegister" type="checkbox" [(ngModel)]="shouldRegister"
                                checked />Create NaijaTravelShop account?
                        </label>
                    </div>
                    <div *ngIf="shouldRegister" class="form-group form-group-icon-left">
                        <i class="fa fa-lock input-icon"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="your password" name="password"
                            [(ngModel)]="contactDetail.password" required />
                    </div>
                </div>
                <div class="gap gap-small"></div>
                <header>Traveler(s) Information</header>
                <div class="boxed-form-contents">
                    <ul class="list">
                        <li *ngFor="let p of passengers; let i = index">
                            <p *ngIf="p.ageGroup == 3">Passenger[{{i + 1}}] Information - Adult
                                <small *ngIf="i == 0" (click)="setAdultContact()" style="cursor:pointer; color: orange">
                                    Same as customer account?
                                </small>
                            </p>
                            <p *ngIf="p.ageGroup == 2">Passenger[{{i + 1}}] Information - Child</p>
                            <p *ngIf="p.ageGroup == 1">Passenger[{{i + 1}}] Information - Infant</p>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Title<span style="color: red">*</span></label>
                                        <select class="form-control" name="title{{i}}" [(ngModel)]="passengers[i].title"
                                            required>
                                            <option value="4">Mr</option>
                                            <option value="3">Mrs</option>
                                            <option value="2">Master</option>
                                            <option value="1">Miss</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First name<span style="color: red">*</span></label>
                                        <input [(ngModel)]="passengers[i].firstName" type="text" name="firstName{{i}}"
                                            class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last name<span style="color: red">*</span></label>
                                        <input [(ngModel)]="passengers[i].lastName" type="text" name="lastName{{i}}"
                                            class="form-control" required />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Date of Birth<span style="color: red">*</span></label>
                                        <input *ngIf="p.ageGroup==3" type="text" class="form-control"
                                            (bsValueChange)="onPassengerBirthdayChange($event, i)"
                                            name="adultBirthday{{i}}" [maxDate]="maxAdultBday"
                                            [value]="passengers[i].dateOfBirth"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange', showWeekNumbers:false }"
                                            required bsDatepicker>
                                        <input *ngIf="p.ageGroup==2" type="text" class="form-control"
                                            name="childBirthday{{i}}" [maxDate]="maxChildBday" [minDate]="minChildBday"
                                            [value]="passengers[i].dateOfBirth"
                                            (bsValueChange)="onPassengerBirthdayChange($event, i)"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange', showWeekNumbers:false }"
                                            required bsDatepicker>
                                        <input type="text" *ngIf="p.ageGroup==1" class="form-control"
                                            name="infantBirthday{{i}}" [maxDate]="maxInfantBday"
                                            [minDate]="minInfantBday" [value]="passengers[i].dateOfBirth"
                                            (bsValueChange)="onPassengerBirthdayChange($event, i)"
                                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-orange', showWeekNumbers:false }"
                                            required bsDatepicker>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <small>
                            <p>After Clicking on 'Buy Ticket', you will be shown a payment page where you can complete
                                the
                                payment </p>
                        </small>
                        <button type="submit" class="btn btn-primary btn-lg">Create Reservation</button>
                    </ul>

                </div>

            </form>
        </div>
    </div>
    <div class="gap"></div>
</div>
<ng-template #template>
    <div class="modal-content  ">
        <div class="modal-body">
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="row">
                <div class="col-md-8">
                    <h3>Login</h3>
                    <form (ngSubmit)="signin()" ngNativeValidate>
                        <div class="form-group form-group-lg form-group-icon-left">
                            <i class="fa fa-user input-icon"></i>
                            <label>Email</label>
                            <input class="form-control" placeholder="your email" type="email" name="email"
                                [(ngModel)]="email" required />
                        </div>
                        <div class="form-group form-group-lg form-group-icon-left">
                            <i class="fa fa-lock input-icon"></i>
                            <label>Password</label>
                            <input class="form-control" type="password" placeholder="your password" name="password"
                                [(ngModel)]="password" required />
                        </div>
                        <input class="btn btn-primary" type="submit" value="Sign in" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</ng-template>


<div *ngIf="isModalShown" [config]="{ show: true}" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
    class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <button type="button" class="close pull-right" aria-label="Close" (click)="hideModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </p>

                <p class="mb30" style="color: red; text-align: center" text-center>{{alertMessage}}</p>
            </div>
        </div>
    </div>
</div>