<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                Dashboard
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <ul class="list booking-filters-list">
                    <li>
                        <a href='/dashboard'>
                            <h5 class="booking-filters-title" style="color: orange">Dashboard
                            </h5>
                        </a>
                    </li>
                    <li>
                        <a href='/reservation'>
                            <h5 class="booking-filters-title">Reservation
                            </h5>
                        </a>
                    </li>
                    <li *ngIf='isSuperAdmin'>
                        <a href='/user_management'>
                            <h5 class="booking-filters-title">User Management
                            </h5>
                        </a>
                    </li>
                    <li>
                        <a href='/profile'>
                            <h5 class="booking-filters-title">Profile
                            </h5>
                        </a>
                    </li>
                    <li *ngIf='isSuperAdmin'>
                        <a href='/settings'>
                            <h5 class="booking-filters-title">Settings
                            </h5>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            <div class="col-md-4">
                <div class="boxed-form">
                    <div class="booking-item-payment">
                        <header class="clearfix">
                            <h5 class="mb0">Flight Booking</h5>
                        </header>
                        <div style="text-align: center">
                            <h1>[{{flightCount}}]</h1>
                        </div>
                        <div class="gap gap-small"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed-form">
                    <div class="booking-item-payment">
                        <header class="clearfix">
                            <h5 class="mb0">Hotel Booking</h5>
                        </header>
                        <div style="text-align: center">
                            <h1>[{{hotelCount}}]</h1>
                        </div>
                        <div class="gap gap-small"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="boxed-form">
                    <div class="booking-item-payment">
                        <header class="clearfix">
                            <h5 class="mb0">Visa Request</h5>
                        </header>
                        <div style="text-align: center">
                            <h1>[{{visaCount}}]</h1>
                        </div>
                        <div class="gap gap-small"></div>
                    </div>
                </div>
            </div>
            <div class="gap"></div>


            <div class="col-md-12">
                <div class="boxed-form">
                    <header>Recent Bookings
                        <span class="badge badge-info">{{bookings.length}}</span>
                    </header>
                    <div class="row boxed-form-contents">
                        <div *ngIf="bookings.length > 0" class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    <tr *ngFor="let b of bookings">
                                        <td>
                                            <span *ngIf="b.bookingType == 'FLIGHT'" class="fa fa-plane"
                                                style="font-size: 1.6em;"></span>
                                            <span *ngIf="b.bookingType == 'HOTEL'" class="fa fa-building-o"
                                                style="font-size: 1.6em;"></span>
                                        </td>
                                        <td>
                                            <span>
                                                <strong>{{b.bookingNumber}}</strong>
                                                <br>{{b.description}} </span>
                                        </td>
                                        <td>{{b.bookingDate | date}}</td>
                                        <td> &#8358;{{formatCurrency(b.amount) | number}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p *ngIf="bookings.length == 0" style="text-align: center">You have no bookings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>
</div>