<div class="breadcrumb-wrap">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active">
                Settings
            </li>
        </ul>
    </div>
</div>
<div class="gap"></div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside class="booking-filters text-white">
                <ul class="list booking-filters-list">
                    <!-- <li>
                            <a routerLink='/dashboard'>
                                <h5 class="booking-filters-title">Dashboard
                                </h5>
                            </a>
                        </li> -->
                    <li>
                        <a routerLink='/reservation'>
                            <h5 class="booking-filters-title">Reservation
                            </h5>
                        </a>
                    </li>
                    <!-- <li>
                        <a routerLink='/crm'>
                            <h5 class="booking-filters-title">CRM</h5>
                        </a>
                    </li> -->
                    <li *ngIf='isSuperAdmin'>
                        <a routerLink='/user_management'>
                            <h5 class="booking-filters-title">User Management
                            </h5>
                        </a>
                    </li>
                    <li>
                        <a routerLink='/profile'>
                            <h5 class="booking-filters-title">Profile
                            </h5>
                        </a>
                    </li>
                    <li *ngIf='isSuperAdmin'>
                        <a routerLink='/settings'>
                            <h5 class="booking-filters-title" style="color: orange">Settings
                            </h5>
                        </a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-md-9">
            <div *ngFor="let alert of alerts">
                <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                    {{ alert.msg }}</alert>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form autocomplete="off" (ngSubmit)="updateFlutterwaveCredential()" ngNativeValidate>
                        <fieldset>
                            <legend>Flutterwave Credential</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Public key</label>
                                        <input class="form-control" name="flwPublicKey" type="text"
                                            [(ngModel)]="flwAccountDetails.publicKey" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Secret key</label>
                                        <input class="form-control" name="flwSecretKey" type="text"
                                            [(ngModel)]="flwAccountDetails.secretKey" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Verification endpoint</label>
                                        <input class="form-control" name="flwVerifyEndpoint" type="text"
                                            [(ngModel)]="flwAccountDetails.verifyEndpoint" required />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn" type="submit">Update</button>
                        </fieldset>
                    </form>
                    <div class="gap"></div>
                </div>
                <div class="col-md-6">
                    <form autocomplete="off" (ngSubmit)="updateTravelbetaCredential()" ngNativeValidate>
                        <fieldset>
                            <legend>Travelbeta Credential</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Public key</label>
                                        <input class="form-control" name="tbPublicKey" type="text"
                                            [(ngModel)]="afilliateDetails.publicKey" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Secret key</label>
                                        <input class="form-control" name="tbSecretKey" type="text"
                                            [(ngModel)]="afilliateDetails.secretKey" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Afiliate code</label>
                                        <input class="form-control" name="affiliateCode" type="text"
                                            [(ngModel)]="afilliateDetails.affiliateCode" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Base url</label>
                                        <input class="form-control" name="baseUrl" type="text"
                                            [(ngModel)]="afilliateDetails.baseUrl" required />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn" type="submit">Update</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-6">
                    <form autocomplete="off" (ngSubmit)="updateDOTWCredential()" ngNativeValidate>
                        <fieldset>
                            <legend>DOTW Credential</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Customer name</label>
                                        <input class="form-control" name="dotwCustomerName" type="text"
                                            [(ngModel)]="dotwDetails.customerName" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>ID</label>
                                        <input class="form-control" name="dotwID" type="text"
                                            [(ngModel)]="dotwDetails.id" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Password</label>
                                        <input class="form-control" name="dotwPassword" type="text"
                                            [(ngModel)]="dotwDetails.password" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Company code</label>
                                        <input class="form-control" name="dotwCompanyCode" type="text"
                                            [(ngModel)]="dotwDetails.companyCode" required />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group form-group">
                                        <label>Host URL</label>
                                        <input class="form-control" name="dotwHostURL" type="text"
                                            [(ngModel)]="dotwDetails.hostUrl" required />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn" type="submit">Update</button>
                        </fieldset>
                    </form>
                    <div class="gap"></div>
                </div>
                <div class="col-md-6">
                    <form autocomplete="off" (ngSubmit)="updateExchangeRate()" ngNativeValidate>
                        <fieldset>
                            <legend>Exchange Rate</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">&#8358;</span>
                                        <input type="number" class="form-control" name="exchangeRate"
                                            [(ngModel)]="exchangeRate" required>
                                        <span class="input-group-addon">.00</span>
                                    </div>
                                    <button style="margin-top: 7px" class="btn btn-primary btn"
                                        type="submit">Update</button>
                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="gap"></div>
            <div class="row">
                <div class="col-md-6">
                    <form autocomplete="off" (ngSubmit)="createVisaCountry()" ngNativeValidate>
                        <fieldset>
                            <legend>Create Visa Country</legend>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Country name</label>
                                        <input class="form-control" name="countryName" type="text"
                                            [(ngModel)]="visaCountry.name" required />
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn" type="submit">Create Country</button>
                        </fieldset>
                    </form>
                </div>
                <div class="col-md-6">
                    <fieldset>
                        <legend style="font-size: 16px">Visa Countries</legend>
                        <table class="table table-striped" [mfData]="visaCountries" #countries="mfDataTable"
                            [mfRowsOnPage]="10">
                            <thead>
                                <tr>
                                    <th style="width: 20%;">
                                        <mfDefaultSorter style="font-size: 14px" by="name">Country name
                                        </mfDefaultSorter>
                                    </th>
                                    <th style="width: 10%">
                                        <mfDefaultSorter style="font-size: 14px" by="status">Status
                                        </mfDefaultSorter>
                                    </th>
                                    <th style="width: 20%">
                                        <mfDefaultSorter style="font-size: 14px"></mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of countries.data">
                                    <td style="font-size: 12px">{{item.name}}</td>
                                    <td style="font-size: 12px">{{item.status}}</td>
                                    <td style="font-size: 12px" *ngIf="item.status == 'ACTIVE'"><button
                                            class="btn btn-primary"
                                            (click)="deactivateVisaCountry(item)">Deactivate</button></td>
                                    <td style="font-size: 12px" *ngIf="item.status == 'DEACTIVATED'"><button
                                            class="btn btn-primary"
                                            (click)="activateVisaCountry(item)">Activate</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="gap"></div>